[Unit]
Description=My service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/pi/SeniorDesign/WebCode/UDPClient_py3.py
WorkingDirectory=/home/pi/services
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
